<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" style="height: 100%">
  <div nz-col nzSpan="12">
    <nz-card nzTitle="Registro" >
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombre">Nombre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="nombre" id="nombre">
            <nz-form-explain *ngIf="validateForm.get('nombre').dirty && validateForm.get('nombre').errors">Por favor ingrese un nombre</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="apellido">Apellido</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="apellido" id="apellido">
            <nz-form-explain *ngIf="validateForm.get('apellido').dirty && validateForm.get('apellido').errors">Por favor ingrese un apellido</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="email" id="email">
            <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">Ingrese un mail valido</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Por favor ingrese una contraseña</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirmar contraseña</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
            <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
              <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
                Por favor confirme la contraseña
              </ng-container>
              <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
                Las contraseñas deben ser iguales
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
            <span>
              Usuario
              <nz-tooltip nzTitle="Nombre para que las demas personas te localizen">
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip>
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="username" formControlName="username">
            <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">Por favor ingrese un nombre de usuario</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Registrarme</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>