
      .steps-content {
        margin-top: 16px;
        border-radius: 6px;
        min-height: 175px;
        padding-top: 20px;
      }

      .steps-action{
        text-align:end;
      }
      
      button {
        margin-right: 8px;
      }

      .delete{
        
      }
    